.header-content {
    background: linear-gradient(90deg, #08CB00 70%, #CBD99B 100%);
    color: #f5f5f5;
    position: relative;
    max-width: 98.75rem;
    /* Máximo de 940px */
    width: 100%;
    /* Ocupa 90% da tela em dispositivos menores */
    height: 6.25rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;  
}

.header-content a {
    text-decoration: none;
    color: #f5f5f5;
    text-align: center;
}

.header-content img {
    height: 4em;
    padding-left: 1em
}

.header-content nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2.5rem; 
    border-radius: 0.5em;
}

.header-content nav li {
    font-size: 1.8rem;
    transition: all 0.2s ease;
}
.header-content nav li:hover{
   transform: scale(1.02);
   text-decoration: underline;
}


.op{
    margin-left: auto;
    padding-right: 2em;
    background-color: #253900;
    border-radius: 0.5em;
    padding: 5px 1em;
}
.nav {
    text-align: center;
}