/*cadastro insano que vai quebra*/
.input{
width: 90%;
margin-top: 12px;
padding: 10px;
border-radius: 8px;
border: 1px solid #CBD99B;
background: #CBD99B;
}

.container{
    text-align: center;
}

/*agenda*/
.body {
    background-color: #EEEEEE;
}
